</body>
<div class="footer">
    <div class="bck_img_footer">
        <div class="contact">
            <div class="phone">
                <p class="contact_title">Me contacter</p>
                <p class="number">(+) 33 6 28 79 06 68</p>
            </div>
            <div class="mail">
                <p class="contact_title">E-mail</p>
                <p class="email">Co.bnr@icloud.com</p>
            </div>

            <div class="socials">
                <p class="contact_title">S'abonner</p>
                <a href="/">Home</a>
                <a href="prestations">Prestations</a>
            </div>
        </div>
    </div>
</div>
</html>