<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<section id="welcome" class="welcome">
    <div class="welcome_nails_img"></div>
    <div class="welcome_txt">
        <h2>Bienvenue chez Nails&Co</h2>
    </div>
</section>

<section id="about" class="about">
    <div class="about_title">
        <h2>À propos de moi</h2>
    </div>
    <div class="about_txt">
        <p>
            Page « À propos ». C’est l’espace idéal pour en dire plus sur vous, donner des détails sur ce que vous faites
            et ce que vous proposez sur votre site. Vos visiteurs veulent en savoir plus sur vous, n'hésitez pas à partager
            avec vos visiteurs des anecdotes et rendre ce texte plus amical.
        </p>
        <p>
            Chaque site a une histoire et vos visiteurs veulent entendre la vôtre. Utilisez cet espace pour ajouter des
            infos et des détails personnels que vous souhaitez partager avec vos abonnés. Suscitez l'intérêt de vos
            visiteurs avec des anecdotes et de courtes histoires.
        </p>
        <p>
            Double-cliquez sur la zone de texte pour personnaliser le contenu et ajoutez des détails pour vos visiteurs.
            Si vous êtes une entreprise, vous pouvez partager votre parcours professionnel et votre histoire. Expliquez
            vos valeurs, votre engagement envers les clients et ce qui vous rend unique. Ajoutez une photo, une galerie
            ou une vidéo pour susciter l'intérêt de vos visiteurs.
        </p>
    </div>
</section>

<%-include("partials/footer")-%>