<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<section id="welcome" class="welcome">
    <div class="welcome_nails_img"></div>
    <div class="welcome_txt">
        <h2>Bienvenue chez Nails&Co</h2>
        <p>
            Je suis Coline, et aujourd’hui je me lance ! Après plusieurs mois de réflexion j'ouvre enfin Nails&Co !
            Je suis une toute jeune prothésiste ongulaire, je pratique chez moi, à Marignier (74) et j'ai hâte de
            vous rencontrer !
        </p>
    </div>
</section>

<section id="about" class="about">
    <div class="about_title">
        <h2>Quelques informations :</h2>
    </div>
    <div class="about_txt">
        <p>
            - Pour prendre rendez-vous, vous pouvez le faire via Instagram ou Facebook, ou bien via le formulaire
            de contact.
        </p>
        <ul>
            <li>Un prénom (ou surnom si vous voulez !)</li>
            <li>Un numéro de téléphone (allô agent 007 confirmation du RDV !)</li>
            <li>La préstation souhaitée !</li>
            <li>Le créneau choisit parmi les disponibilités (créneaux disponibles sur Instagram et Facebook)</li>
            <li>Un acompte est obligatoire pour confirmer le rendez-vous (la moitié de la préstation).</li>
        </ul>
        <p>
            - Avant le rendez vous :
        </p>
        <ul>
            <li>N'hésitez pas à me montrer des modèles ou des inspirations en message privé sur Instagram ou Facebook !
            </li>
            <li>Me dire si vous avez déjà une pose déjà faite ou non.</li>
            <li>opus pouvez annuler, prévenez-moi juste 24H avant le jour-J sinon l'acompte ne sera pas remboursé.</li>
            <li>On peut toutes et tous avoir du retard, mais après 15 min le RDV sera automatiquement annulé et
                l'acompte non remboursé.</li>

        </ul>
        <p>
            - Pendant le rendez vous :
        </p>
        <ul>
            <li>Pas d'accompagnant, (c'est votre moment) !</li>
            <li>J'ai un lô petit chat, il est important que vous puissiez me dire si vous avez des allergies.</li>
            <li>Les toilettes sont accessibles bien sûr !</li>
        </ul>
        <p>
            - Pour le règlement :
        </p>
        <ul>
            <li>Pour le moment, je ne prends que de l'espèce.</li>
            <li>Pour l'acompte, il pourra se faire via SumUp, je vous envoie un lien que vous permet de régler par
            carte bancaire.</li>
        </ul>
    </div>
</section>

<%-include("partials/footer")-%>