<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<section id="prestation_welcome" class="prestation_welcome">
    <div class="prestation_img">

    </div>
<!--    <div class="prestation_txt">-->
<!--        <h2>Préstations</h2>-->
<!--        <p>-->
<!--            Voici toutes les prestations possibles ! Que ce soit une pose en toute simplicité avec ou sans gel ou avec-->
<!--            une pluie de strass et de paillettes, j'espère que vous puissiez trouver la prestation qui vous conviendra.-->
<!--        </p>-->
<!--    </div>-->
</section>

<section class="prestations">
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Pose américaine</h5>
                <div class="line"></div>
                <div class="americaine-img"></div>
                <p>
                    Une technique venue des États-Unis qui consiste à utiliser une capsule hybride en gel pour un rendu fin,
                    élégant et naturel !
                </p>
            </div>
            <div class="pose-card-back">

            </div>
        </div>
    </div>
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Pose chablon</h5>
                <div class="line"></div>
                <div class="chablon-img"></div>
                <p>
                    Cette technique est une construction entière ! Une super prestation pour passer d'ongle court et fin à une
                    longueur sublime et forte !
                </p>
            </div>
            <div class="pose-card-back">

            </div>
        </div>
    </div>
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Renforcement ongle naturel</h5>
                <div class="line"></div>
                <div class="renfo-img"></div>
                <p>
                    Pour cette technique, nous garderons votre longueur et nous la renforceront grâce au gel. Cette prestation
                    nous permet de préserver votre longueur et de la fortifier !
                </p>
            </div>
            <div class="pose-card-back">

            </div>
        </div>
    </div>
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Semi-permanent</h5>
                <div class="line"></div>
                <div class="semi-img"></div>
                <p>
                    Connue du grand public, Le semi-permanent est adopté pour sa praticité, plus besoin d'attendre de longues
                    heures pour que votre vernis sèche ! Grâce au rayon UV la couleur se fige sur votre ongle naturel !
                </p>
            </div>
            <div class="pose-card-back">

            </div>
        </div>
    </div>
</section>

<%-include("partials/footer")-%>