<%-include("partials/header")-%>
<%-include("partials/navbar")-%>

<section id="prestation_welcome" class="prestation_welcome">
    <div class="prestation_img">

    </div>
    <div class="prestation_txt">
        <h2>Préstations</h2>
        <p>
            Voici toutes les prestations possibles ! Que ce soit une pose en toute simplicité avec ou sans gel ou avec
            une pluie de strass et de paillettes, j'espère que vous puissiez trouver la prestation qui vous conviendra.
        </p>
    </div>
</section>

<section class="prestations">
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Pose américaine</h5>
                <div class="line"></div>
                <div class="americaine-img"></div>
                <p>
                    Une technique venue des États-Unis qui consiste à utiliser une capsule hybride en gel pour un rendu fin,
                    élégant et naturel !
                </p>
            </div>
            <div class="pose-card-back">
                <p class="tarifs">Les tarifs</p>
                <div class="line"></div>
                <p class="prix">Pose américaine simple : 35€</p>
                <p class="prix">Pose avec nail art : 39€</p>
                <p class="prix">Dépose + repose américaine 40€</p>
                <p class="prix">Avec nail art : 44€</p>
                <p class="prix">Dépose américaine 15€</p>
                <div class="line"></div>
                <p class="pose-explications">Limage + Cuticule + Préparation de l'ongle + Pose de capsules américaines + Couleur + Finitions</p>
            </div>
        </div>
    </div>
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Pose chablon</h5>
                <div class="line"></div>
                <div class="chablon-img"></div>
                <p>
                    Cette technique est une construction entière ! Une super prestation pour passer d'ongle court et
                    fin à une longueur sublime et forte !
                </p>
            </div>
            <div class="pose-card-back">
                <p class="tarifs">Les tarifs</p>
                <div class="line"></div>
                <p class="prix">Pose chablon simple : 18,50€ au lieu de 37€</p>
                <p class="prix">Pose chablon avec nail art simple : 20,50€ au lieu de 41€</p>
                <p class="prix">Pose chablon avec incrustation sur les deux mains (floral, baby glitters, etc...) 23,30€ au lieu de 46,60€</p>
                <p class="prix">Incrusation par ongle : 1,20€</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Renforcement ongle naturel</h5>
                <div class="line"></div>
                <div class="renfo-img"></div>
                <p>
                    Pour cette technique, nous garderons votre longueur et nous la renforceront grâce au gel.
                    Cette prestation nous permet de préserver votre longueur naturelle et de la fortifier !
                </p>
            </div>
            <div class="pose-card-back">
                <p class="tarifs">Les tarifs</p>
                <div class="line"></div>
                <p class="prix">Renforcement sur ongle naturel : 29€</p>
                <p class="prix">Renforcement avec nail art : 33€</p>
                <p class="prix">Dépose renforcement : 15€</p>
                <div class="line"></div>
                <p class="pose-explications">Limage + Cuticule + Préparation de l'ongle + Renforcement au gel + Couleur + Finitions</p>
            </div>
        </div>
    </div>
    <div class="pose_card">
        <div class="pose-card-inner">
            <div class="pose-card-front">
                <h5>Semi-permanent</h5>
                <div class="line"></div>
                <div class="semi-img"></div>
                <p>
                    Connu du grand public, Le semi-permanent est adopté pour sa praticité et sa rapidité, plus besoin d'attendre de longues
                    heures pour que votre vernis sèche ! Grâce au rayon UV la couleur se fige sur votre ongle naturel !
                </p>
            </div>
            <div class="pose-card-back">
                <p class="tarifs">Les tarifs</p>
                <div class="line"></div>
                <p class="prix">Vernis semi-permanent sur ongle naturel : 24€</p>
                <p class="prix">Vernis semi-permanent avec nail art : 28€</p>
                <p class="prix">Dépose semi-permanent : 10€</p>
                <div class="line"></div>
                <p class="pose-explications">Limage + Cuticule + Préparation de l'ongle + Couleur + Finitions</p>
            </div>
        </div>
    </div>
</section>

<%-include("partials/footer")-%>