@font-face {
    font-family: "Futura Light";
    src: url("public/fonts/FuturaLight.otf");
}

body {
    margin: 0;
}

                        /*----------NAVBAR----------*/

.navbar {
    background-color: #3E0A1C;
    color: white;
    box-shadow: rgba(44, 44, 51, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: 'Caudex', serif;
    font-size: 2.8vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10.313rem;
    top: 0;
    left: 0;
    z-index: 1;

    opacity: 0;
    animation: navBarFadeIn 1s ease-in-out forwards;
}

                        /*----------HOMEPAGE----------*/

                        /*-----Welcome Section-----*/

#welcome {
    background-color: #E8C9AC;
    padding-top: 250px;
    height: 520px;
    width: 100%;
    margin-bottom: 0;
}

.welcome_nails_img {
    width: 50.625rem;
    height: 21.875rem;
    background-image: url("/images/téléchargement_2.png");
    background-size: cover;
    background-position-y: -60px;
    position: relative;
    left: 50px;
}

.welcome_txt {
    background-color: white;
    width: 810px;
    height: 350px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    position: relative;
    left: 590px;
    top: -280px;
}

@media screen and (max-width: 768px) {
    .welcome_nails_img {
        width: 100%;
        height: auto;
        left: 0;
    }

    .welcome_txt {
        width: 100%;
        left: 0;
        top: -140px;
    }
}

                        /*-----About Section-----*/
#about {
    background-color: #BE9A88;
    margin-top: 0;
    padding: 60px 0;
    font-family: 'Quicksand', sans-serif;
}

.about_title {
    margin: 0 20%;
    font-size: 28px;
}

.about_txt {
    margin: 0 20%;
    text-align: justify;
    line-height: 2;
}

                        /*----------PRESTATIONS----------*/

#prestation_welcome {
    background-color: #E8C9AC;
    padding-top: 250px;
    height: 520px;
    width: 100%;
    margin-bottom: 0;
}

.prestation_img {
    width: 810px;
    height: 350px;
    background-image: url("/images/téléchargement_3.png");
    background-size: cover;
    background-position-y: -60px;
    position: relative;
    left: 50px;
}

.prestation_txt {
    background-color: white;
    width: 810px;
    height: 350px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    position: relative;
    left: 590px;
    top: -280px;
}

.prestations {
    background-color: #3E0A1C;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h5 {
    font-family: 'Caudex', serif;
    font-size: 1.25rem;
    margin-left: 5%;
}

.pose_card {
    background-color: #3E0A1C;
    width: 27rem;
    height: 44rem;
    margin: 2.5% 2.5%;
    perspective: 1000px;
}

.pose-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.pose_card:hover .pose-card-inner {
    transform: rotateY(180deg);
}

.pose-card-front, .pose-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pose_card p {
    font-family: 'Quicksand', sans-serif;
    margin: 0 5%;
    text-align: justify;
}

.pose-card-front {
    background-color: #F0E4D1;
}

.pose-card-back {
    background-color: #F0E4D1;
    transform: rotateY(180deg);
}

.line {
    border-top: 1px solid black;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.americaine-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/americaine.jpg");
    background-size: cover;
    background-position-y: -70px;
    margin: 10% auto;
}

.chablon-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/chablon2.jpeg");
    background-size: cover;
    background-position-x: -90px;
    margin: 10% auto;
}

.renfo-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/renfo.jpeg");
    background-size: cover;
    background-position-x: -90px;
    margin: 10% auto;
}

.semi-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/semi.jpeg");
    background-position-x: -80px;
    background-size: cover;
    margin: 10% auto;
}

                        /*----------FOOTER----------*/

.footer {
    background-color: #E8C9AC;
    margin: 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.bck_img_footer {
    background-image: url("/images/background_footer.png");
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_title {
    display: flex;
    justify-content: center;
}

.number, .email {
    font-family: 'Quicksand', sans-serif;
}

.phone, .mail, .socials {
    margin: 0 10%;
    justify-content: center;
}

@keyframes navBarFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

{

}