@font-face {
    font-family: "Futura Light";
    src: url("public/fonts/FuturaLight.otf");
}

body {
    margin: 0;
}

                        /*----------NAVBAR----------*/
#navbar {
    transition: top 0.5s;
}

.navbar {
    background-color: #3E0A1C;
    color: white;
    box-shadow: rgba(44, 44, 51, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    font-family: 'Caudex', serif;
    font-style: unset;
    font-weight: lighter;
    font-size: 2.8vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10.313rem;
    top: 0;
    left: 0;
    z-index: 1;

    opacity: 0;
    animation: navBarFadeIn 1s ease-in-out forwards;
}

@keyframes navBarFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

{

}

a {
    text-decoration: none;
    color: white;
}

                        /*----------HOMEPAGE----------*/

                        /*-----Welcome Section-----*/

#welcome {
    background-color: #E8C9AC;
    padding-top: 250px;
    height: 520px;
    width: 100%;
    margin-bottom: 0;
}

.wrapper-welcome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    margin: 0 5%;
}

.welcome_nails_img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("/images/téléchargement_2.png");
    background-size: cover;
    background-position-y: -80px;
}
.welcome_txt {
    grid-column-start: 2;
    grid-column-end: 4 ;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #F0E4D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
}

.welcome_txt h2 {
    padding: 0 50px;
    margin: 0;
    font-family: "Bodoni 72", serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 4rem;
}

.welcome_txt p {
    padding: 0 50px;
    font-size: 20px;
    font-family: "Avenir Next", sans-serif;
    font-weight: lighter;
}

                        /*-----About Section-----*/
#about {
    background-color: #BE9A88;
    margin-top: 0;
    padding: 60px 0;
}

.about_title {
    margin: 0 20%;
    font-size: 1.8rem;
    font-family: "Bodoni 72", serif;
    font-weight: lighter;
    font-style: italic;
}

.about_txt {
    margin: 0 20%;
    text-align: justify;
    line-height: 2;
    font-family: "Avenir Next", sans-serif;
    font-weight: lighter;
    font-style: oblique;
}

                        /*----------PRESTATIONS----------*/

.wrapper-prestations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    margin: 0 5%;
}

.prestation_img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("/images/téléchargement_3.png");
    background-size: cover;
    background-position-y: -80px;
}

.prestation_txt {
    grid-column-start: 2;
    grid-column-end: 4 ;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #F0E4D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
}

#prestation_welcome {
    background-color: #E8C9AC;
    padding-top: 250px;
    height: 520px;
    width: 100%;
    margin-bottom: 0;
}

.prestation_txt h2 {
    font-family: 'Caudex', serif;
    padding: 0 50px;
    margin: 0;
}

.prestation_txt p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 0 50px;
}

.prestations {
    background-color: #3E0A1C;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h5 {
    font-family: 'Caudex', serif;
    font-size: 1.25rem;
    margin-left: 5%;
}

.pose-card {
    background-color: #3E0A1C;
    width: 27rem;
    height: 44rem;
    margin: 2.5% 2.5%;
    perspective: 1000px;
}

.pose-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.pose-card:hover .pose-card-inner {
    transform: rotateY(180deg);
}

.pose-card-front, .pose-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pose-card-front {
    background-color: #F0E4D1;
}

.pose-card-back {
    background-color: #F0E4D1;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pose-card p {
    font-family: 'Quicksand', sans-serif;
    margin: 0 5%;
    text-align: justify;
}

.pose-card-back p {
    text-align: center;
}

.tarifs {
    font-size: 50px;
    padding-top: 10px;
}

.prix {
    padding: 10px;
}

.pose-explications {
    padding-top: 10px;
}

.line {
    border-top: 1px solid black;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pose-card-back .line {
    width: 50%;
}

.americaine-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/americaine.jpg");
    background-size: cover;
    background-position-y: -70px;
    margin: 10% auto;
}

.chablon-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/chablon2.jpeg");
    background-size: cover;
    background-position-x: -90px;
    margin: 10% auto;
}

.renfo-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/renfo.jpeg");
    background-size: cover;
    background-position-x: -90px;
    margin: 10% auto;
}

.semi-img {
    width: 24rem;
    height: 24rem;
    background-image: url("/images/semi.jpeg");
    background-position-x: -80px;
    background-size: cover;
    margin: 10% auto;
}
                        /*----------CONTACT----------*/

#contact {
    background-color: #F0E4D1;
    padding-top: 190px;
    height: 520px;
    width: 100%;
    margin-bottom: 0;
    font-family: Quicksand, sans-serif;
}

#contact h1 {
    text-align: center;
    font-size: 40px;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 50%;
    margin: 0 auto;
}

.fname {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 10px;
}
.fname input {
    width: 100%;
    height: 80%;
}

.number {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 10px;
}

.number input {
    width: 100%;
    height: 80%;
}

.message {
    grid-area: 2 / 1 / 7 / 3;
    padding: 20px 0 30px 0;
}

.message textarea {
    width: 100%;
    height: 90%;
    margin: 5px 0 0 0;
}

input {
    border: 1px solid gray;
    margin: 5px 0 0 0;
    padding: 0 3px;
}

.send-button {
    grid-area: 7 / 1 / 8 / 3;
    align-self: center;
    justify-self: center;
    width: 30%;
    height: 50px;
    background-color: #3E0A1C;
    color: #E8C9AC;
    font-size: 1.2rem;
    border: 0;
    border-radius: 10px;
}

.send-button:hover {
    opacity: 50%;
}

                        /*----------FOOTER----------*/

.footer {
    background-color: #E8C9AC;
    margin: 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.bck_img_footer {
    background-image: url("/images/background_footer.png");
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_title {
    display: flex;
    justify-content: center;
    font-family: "Bodoni 72", serif;
    font-style: italic;
    font-weight: lighter;
}

.number-footer, .email {
    font-family: 'Quicksand', sans-serif;
}

.phone-footer, .mail, .socials {
    margin: 0 10%;
    justify-content: center;
}

.number-footer {
    text-decoration: none;
    color: black;
}

@media screen
and (max-width: 428px) {
    .about_txt {
        margin: 0 10%;
        font-size: 1.1rem;
        font-weight: normal ;
        color: white;
    }

    .about_title h5 {
        font-size: 1.8rem;
    }
}
